footer {
    color:white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.all {
    margin-right: 0%;
    padding: 20px;
    background-image: url(../../../assets/Fondo.jpg);
}
