<div id="fondoBlanco">
    <h4><u>Education:</u></h4>
    <li><img src="../../../assets/Cooperacion.jpg" style="width: 10%;">Primary School Part. Inc n°1315 Cooperacion<br></li>
    <li><img src="../../../assets/Gomara.png" style="width: 10%;">Secondary School technique Ing. Enrique B. Gomara n°8235<br></li>
    <li><img src="../../../assets/Fceia.png" style="width: 10%;"><p>Studying Bachelor of Computer Science
     at the University of Exact Sciences, Engineering and Surveying (FCEIA) in Rosario (First Year)</p></li>
</div>