<!DOCTYPE html>
 <html lang="en"> 
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Portfolio Agustín Scarafiocca</title>
      <link href="/src/css/bootstrap.css" rel="stylesheet">
      <link href="/src/styles.css" rel="stylesheet">
</head>
<body>
 <app-perfil></app-perfil>
 <app-experiencia></app-experiencia>
 <app-titulos-de-educacion></app-titulos-de-educacion>
 <app-skills></app-skills>
 <app-proyectos></app-proyectos>
 <app-footer></app-footer>
 <script src="/src/js/bootstrap.js"></script>
</body>