body {
    background-image: url("Fondo.jpg");
  }
#contenido {
  width: 800px; margin: 0 auto;
}
.ProgIcon {
  padding: 10px;
  margin: 5px;
  float: left;
}
.fondoBlanco {
  background-color: white;
}