<section id="fondoBlanco" class="row">
  <h4><u>Skills:</u></h4>
  <app-skill-item [imagen]="'../../../assets/HTML Icon.png'"  [nivel]="'fill-10'" [color]="'colorRojo'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/CSS icon.png'" [nivel]="'fill-3'"  [color]="'colorAzul'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Javascript icon.png'" [nivel]="'fill-1'" [color]="'colorAmarillo'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Bootstrap icon.png'" [nivel]="'fill-2'" [color]="'colorMorado'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Typescript icon.png'" [nivel]="'fill-1'"  [color]="'colorAzul'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Angular Icon.png'" [nivel]="'fill-2'"  [color]="'colorRojo'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Python Icon.png'" [nivel]="'fill-1'"  [color]="'colorDarkBlue'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Java-icon.png'" [nivel]="'fill-1'"  [color]="'colorAzul'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/React-icon.png'" [nivel]="'fill-1'"  [color]="'colorDarkBlue'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/scrum icon.png'" [nivel]="'fill-2'"  [color]="'colorAzul'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Git Icon.png'" [nivel]="'fill-1'"  [color]="'colorNaranja'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
  <app-skill-item [imagen]="'../../../assets/Spring icon.png'" [nivel]="'fill-1'"  [color]="'colorVerde'" class="text-center col-sm-4 col-md-4 col-lg-4"></app-skill-item>
</section> 