<div id="fondoBlanco" class="row">
    <h4><u>Skills:</u></h4>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/HTML icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/CSS icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Javascript Icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Typescript Icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Angular Icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Github icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Pyhton Icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Paint Icon.png" style="width:100px;height:100px;"></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4" style="padding: 10px;"><img src="assets/Java.png" style="width:100px;height:100px;"></div>
</div>