body {
    background-image: url("Imagenes/Fondo.jpg");
}
#contenidoPerfil {
  padding: 5px 5px 5px 300px
}
#contenido1 {
  padding: 0px 0px 0px 10px;
}
.perfil {
  width:130px;
  height:130px;
  position: absolute;
  border-radius: 100px;
  border: 5px solid black;
  margin: 420px 0px 0px 50px;
}
.alineadoImagen {
  border: 4px solid black;
  border-radius: 100px;
}
.ProgIcon {
  padding: 10px;
  margin: 5px;
  float: left;
}
.fondoBlanco {
  background-color: white;
  border-top: 3px solid rgb(4, 172, 250);
  border-left: 3px solid blue;
  border-bottom: 3px solid rgb(4, 172, 250);
  border-right: 3px solid blue;
  border-radius: 5px; height:auto; width: auto;
}