/*
.all {
  display: flex;
}
body {
    background-image: url(assets/Fondo.jpg);
}
.row {
  margin-right: 0%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  #perfil {
    width:15%;
    border-radius: 100px;
    border: 5px solid black;
    position: absolute;
    left: 3%;
    bottom: -25%;
  }
}
@media (max-width: 575px) {
  #perfil {
    width:50%;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    left: 25%;
    bottom: -5px;
    text-align: center;
  }
}
#nombre {
  font-weight: bold;
  text-align: center;
}
.logoAP {
  width: 150px;
}
.redSocial {
  width: 60px;
  float: right;
  margin-top: 25px;
}
#fondoBlanco {
  background-color: white;
  border-top: 3px solid rgb(4, 172, 250);
  border-left: 3px solid blue;
  border-bottom: 3px solid rgb(4, 172, 250);
  border-right: 3px solid blue;
  border-radius: 5px; height:auto; width: auto;
  margin: 4px;
  padding: 1%;
}
footer {
 color:white;
 font-size: 14px;
 display: flex;
 flex-direction: column;
 text-align: center;
 box-shadow: 1px -1px 5px #999;
}
*/